(
    name: "Test Project",
    version: "0.1.0",
    bpm: 120.0,
    sample_rate: 44100,
    sample_library: [],
    tracks: [
        (
            id: 0,
            name: "Test Track",
            instrument: MultiOsc(
                oscillators: [
                    (
                        wave: Sine,
                        gain: 0.3,
                        semitone: 0,
                    ),
                ],
            ),
            adsr: (
                attack: 0.01,
                decay: 0.1,
                sustain: 0.7,
                release: 0.2,
            ),
            volume: 1.0,
            pan: 0.0,
            initial_node: "node-a",
            graph: (
                nodes: [
                    (
                        id: "node-a",
                        sequence: Static((
                            duration_bars: 2,
                            time_signature: (4, 4),
                            notes: [
                                (
                                    pitch: 45,
                                    velocity: 100,
                                    start_beat: 0.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 45,
                                    velocity: 90,
                                    start_beat: 0.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 57,
                                    velocity: 100,
                                    start_beat: 1.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 45,
                                    velocity: 100,
                                    start_beat: 1.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 45,
                                    velocity: 100,
                                    start_beat: 2.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 57,
                                    velocity: 100,
                                    start_beat: 2.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 45,
                                    velocity: 100,
                                    start_beat: 3.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 45,
                                    velocity: 100,
                                    start_beat: 3.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 60,
                                    velocity: 100,
                                    start_beat: 4.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 57,
                                    velocity: 100,
                                    start_beat: 4.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 45,
                                    velocity: 100,
                                    start_beat: 5.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 57,
                                    velocity: 100,
                                    start_beat: 5.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 45,
                                    velocity: 100,
                                    start_beat: 6.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 45,
                                    velocity: 100,
                                    start_beat: 6.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 57,
                                    velocity: 100,
                                    start_beat: 7.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 45,
                                    velocity: 100,
                                    start_beat: 7.5,
                                    duration_beats: 0.5,
                                ),
                            ],
                        )),
                        hooks: [],
                    ),
                    (
                        id: "node-b",
                        sequence: Static((
                            duration_bars: 2,
                            time_signature: (4, 4),
                            notes: [
                                (
                                    pitch: 51,
                                    velocity: 100,
                                    start_beat: 0.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 51,
                                    velocity: 90,
                                    start_beat: 0.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 57,
                                    velocity: 100,
                                    start_beat: 1.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 51,
                                    velocity: 100,
                                    start_beat: 1.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 51,
                                    velocity: 100,
                                    start_beat: 2.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 57,
                                    velocity: 100,
                                    start_beat: 2.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 51,
                                    velocity: 100,
                                    start_beat: 3.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 51,
                                    velocity: 100,
                                    start_beat: 3.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 60,
                                    velocity: 100,
                                    start_beat: 4.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 57,
                                    velocity: 100,
                                    start_beat: 4.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 51,
                                    velocity: 100,
                                    start_beat: 5.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 57,
                                    velocity: 100,
                                    start_beat: 5.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 51,
                                    velocity: 100,
                                    start_beat: 6.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 51,
                                    velocity: 100,
                                    start_beat: 6.5,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 57,
                                    velocity: 100,
                                    start_beat: 7.0,
                                    duration_beats: 0.5,
                                ),
                                (
                                    pitch: 51,
                                    velocity: 100,
                                    start_beat: 7.5,
                                    duration_beats: 0.5,
                                ),
                            ],
                        )),
                        hooks: [],
                    ),
                ],
                edges: [
                    (
                        from: "node-a",
                        to: "node-b",
                        condition: "true",
                        timing: FinishSequence,
                        inlet_hook: None,
                    ),
                    (
                        from: "node-b",
                        to: "node-a",
                        condition: "true",
                        timing: FinishSequence,
                        inlet_hook: None,
                    ),
                ],
            ),
        ),
    ],
)
